body {
  font-family: "Roboto", "sans-serif";
  margin: 0px;
}

a,
.subtext {
  text-decoration: none;
  color: #b3b4b8;
  font-size: 18px;
}

ul {
  padding: 0px;
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
}

.hero-img {
  width: 450px;
}

.header {
  background-color: #1f2937;
}

.container-row,
.container-column {
  width: 800px;
  margin: auto;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
}

.hero-message {
  width: 300px;
}

.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
}

button {
  padding: 8px 24px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.btn-sign-up {
  background: royalblue;
  border: 1px solid royalblue;
}

.btn-sign-up-modal {
  background: #3882f6;
  border: white solid 1px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding-bottom: 32px;
}

.info {
  text-align: center;
  height: 200px;
}

.info-img,
.info {
  width: 175px;
}

.info-img {
  border-radius: 8px;
  border: 2px;
  border-style: solid;
  border-color: royalblue;
}

.info-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.quote {
  background: #e5e7eb;
  padding-top: 64px;
  padding-bottom: 64px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.quote-attribution {
  text-align: right;
  font-weight: 700;
  font-size: 24px;
}

.modal-container {
  padding: 64px 0px 64px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 8px;
  padding: 48px 64px 48px 64px;
  background: #3882f6;
  color: white;
}

.call-to-action-text {
  font-size: 24px;
}

.footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 32px;
}
